@use 'sass:math' as math;

$pad: 1rem;

@mixin default-styles() {
    appearance: none;
    font: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    text-rendering: auto;
    text-align: inherit;
    text-align-last: inherit;
    direction: inherit;
    vertical-align: inherit;
    unicode-bidi: inherit;
    unicode-range: inherit;
    text-indent: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    white-space: inherit;
    -webkit-rtl-ordering: inherit;
}

@mixin main-styles() {
    padding: math.div($pad, 2);
    max-height: 100%;
    background-color: var(--bg);
    color: var(--color);
    border: solid 1px var(--middle-color);
    border-radius: $pad;
    text-align: center;
}

@mixin text-styles() {
    min-width: 200px;

    &:is(textarea) {
        resize: vertical;

        @supports (field-sizing: content) {
            field-sizing: content;
            resize: none;
        }
    }
}

@mixin button-styles() {
    min-width: 100px;
    width: fit-content;
    cursor: pointer;
}

@mixin checkboxradio() {
    border: solid 1px gray;
    aspect-ratio: 1;
    min-height: 1em;

    &:checked {
        appearance: auto;
        border-radius: inherit;
        border-style: solid;
    }
}

::placeholder,
:placeholder-shown,
::placeholder {
    color: inherit;
}

.form-group {
    position: relative;
    padding-top: 0.5lh;
    display: flex;
    flex-direction: column;

    > label:not(.file label) {
        @include main-styles;

        position: absolute;
        translate: 1em -0.5lh;
        box-sizing: border-box;
        padding: 0 $pad;
        width: fit-content;
        text-align: left;
    }
}

label, fieldset, legend, datalist, output, option, optgroup {
    @include default-styles;
}

input {
    &[type="checkbox"] {
        @include default-styles;
        @include checkboxradio;

        border-radius: 0.15em;
    }

    &[type="radio"] {
        @include default-styles;
        @include checkboxradio;

        border-radius: 50%;
    }

    &[type="image"] {
        @include default-styles;
    }

    &[type="date"],
    &[type="datetime-local"],
    &[type="month"],
    &[type="time"],
    &[type="week"],
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="text"],
    &[type="url"] {
        @include default-styles;
        @include main-styles;
        @include text-styles;
    }
}

textarea {
    @include default-styles;
    @include main-styles;
    @include text-styles;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="color"],
label:has(+ input[type="file"]) {
    @include default-styles;
    @include main-styles;
    @include button-styles;
}

.form-group .file {
    display: flex;
    flex-direction: row-reverse;
}

.file input[type="file"] {
    display: none;
}

input[type="file"] {
    @include default-styles;
}

input[type="color"] {
    min-height: 40px;
    min-width: 10px;
}

select {
    @include default-styles;
    @include main-styles;
    @include text-styles;

    appearance: base-select;
}

option {
    @include default-styles;
    @include main-styles;
    @include text-styles;
}

optgroup {
    @include default-styles;
    @include main-styles;
    @include text-styles;
}