@use 'sass:math' as math;

// Variables
$pad: 1rem;

// Mixins
// Default styles for form elements
@mixin default-styles() {
    appearance: none;

    // Font properties
    font: inherit;
    
    // Text properties
    text-decoration: inherit;
    text-transform: inherit;
    text-rendering: auto;
    text-align: inherit;
    text-align-last: inherit;

    // Layout properties
    direction: inherit;
    vertical-align: inherit;

    // Advanced text properties
    unicode-bidi: inherit;
    unicode-range: inherit;
    text-indent: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    white-space: inherit;
    -webkit-rtl-ordering: inherit;
}

// Main styling for form elements
@mixin main-styles() {
    padding: math.div($pad, 2);
    max-height: 100%;

    // Visual properties
    background-color: var(--bg);
    color: var(--color);
    border: solid 1px var(--middle-color);
    border-radius: $pad;
    text-align: center;
}

// Text input styling
@mixin text-styles() {
    min-width: 200px;
    
    &:is(textarea) {
        resize: vertical;

        @supports (field-sizing: content) {
            field-sizing: content;
            resize: none;
        }
    }
}

// Button styling
@mixin button-styles() {
    min-width: 100px;
    width: fit-content;
    cursor: pointer;
}

// Checkbox and radio styling
@mixin checkboxradio() {
    border: solid 1px gray;
    aspect-ratio: 1;
    min-height: 1em;

    &:checked {
        appearance: auto;
        border-radius: inherit;
        border-style: solid;
    }
}

// Placeholder styles
::placeholder, 
:placeholder-shown, 
::placeholder {
    color: inherit;
}

// Form components
.form-group {
    position: relative;
    padding-top: 0.5lh;
    display: flex;
    flex-direction: column;

    // Label styling
    > label:not(.file label) {
        @include main-styles;

        position: absolute;
        translate: 1em -0.5lh;
        box-sizing: border-box;
        padding: 0 $pad;
        width: fit-content;
        text-align: left;
    }
}

// Form elements
label, 
fieldset, 
legend, 
datalist, 
output, 
option, 
optgroup {
    @include default-styles;
}

// Input types
input {
    // // Text input styling
    // &[type="text"],
    // &[type="password"],
    // &[type="email"],
    // &[type="search"],
    // &[type="tel"],
    // &[type="url"],
    // &[type="number"],
    // &[type="date"],
    // &[type="datetime-local"],
    // &[type="month"],
    // &[type="time"],
    // &[type="week"] {
    //     @include default-styles();
    //     @include main-styles();
    //     @include text-styles();
    // }

    // Checkbox styling
    &[type="checkbox"] {
        @include default-styles;
        @include checkboxradio;

        border-radius: 0.15em;
    }
    
    // Radio button styling
    &[type="radio"] {
        @include default-styles;
        @include checkboxradio;

        border-radius: 50%;
    }
    
    // Image input styling
    &[type="image"] {
        @include default-styles;
    }

    // Text-based inputs
    &[type="date"], 
    &[type="datetime-local"], 
    &[type="month"], 
    &[type="time"], 
    &[type="week"], 
    &[type="email"], 
    &[type="number"], 
    &[type="password"], 
    &[type="search"], 
    &[type="tel"], 
    &[type="text"], 
    &[type="url"] {
        @include default-styles;
        @include main-styles;
        @include text-styles;
    }
}

// Textarea styling
textarea {
    @include default-styles;
    @include main-styles;
    @include text-styles;
}

// Buttons
button,
input[type="button"],
input[type="submit"], 
input[type="reset"],
input[type="color"],
label:has(+ input[type="file"]) {
    @include default-styles;
    @include main-styles;
    @include button-styles;
}

// File input
.form-group .file {
    display: flex;
    flex-direction: row-reverse;
}

.file input[type="file"] {
    display: none;
}

input[type="file"] {
    @include default-styles;
}

input[type="color"] {
    min-height: 40px;
    min-width: 10px;
}

// Select elements
select {
    @include default-styles;
    @include main-styles;
    @include text-styles;

    appearance: base-select;
}

option {
    @include default-styles;
    @include main-styles;
    @include text-styles;
}

optgroup {
    @include default-styles;
    @include main-styles;
    @include text-styles;
}