// Styles for the Navigation Bar
header {
  --shadow-size: 10px;

  padding: 2rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  gap: 15px;

  border-bottom: solid 1px var(--bdr-clr, var(--color));
}

header .logo {
  min-height: 5rem;
  height: 100%;
  aspect-ratio: 1;

  color: var(--logo-a-color);

  background-color: var(--color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 100%;

  box-shadow: 0 0 var(--shadow-size) 0 var(--color);

  transition: border-radius 1s ease-out;
}

header .logo:is(:hover, :focus) {
  border-radius: 25%;
}