// Styles for the Navigation Bar
header {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;

  border-bottom: solid 1px var(--background-secondary-color);
}

header .logo {
  min-height: 5rem;
  height: 100%;
  aspect-ratio: 1;

  color: var(--logo-a-color);
  border-radius: 100%;

  display: flex;
  align-items: center;
  text-decoration: none;

  transition: border-radius 1s ease;
}

header .logo:is(:hover, :focus) {
  border-radius: 25%;
}

.nav {
  flex: 1;

  height: 100%;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;

  flex-wrap: wrap;
  gap: 15px;
}

.nav button {
  // padding: 10px 20px;

  border-radius: 100vw;

  font-size: 1.25rem;
  font-weight: 500;
  }

// .nav .current-page {
// }