$t-time: 0.5s;

.large-frame {
    position: relative;

    $ar: 2;
    box-sizing: border-box;

    max-width: 100%;
    aspect-ratio: var(--ar, $ar);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    border: solid 1px var(--color);
    border-radius: 1rem;

    overflow: hidden;
    overflow: clip;

    isolation: isolate;

    > *, &::before, &::after {
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .checker {
        appearance: none;
        // visibility: hidden;
    }
    &:has(.checker:not(:checked)) {
        cursor: pointer;
    }
    &:has(.checker:checked) {
        pointer-events: none;
    }
    .checker:checked ~ :not(.checker):not(.frame), &:has(.checker:checked) {
        &::before, &::after {
            display: none;
        }
    }
    .checker:not(:checked) ~ .frame {
        display: none;
    }

    .img {
        display: block;
        width: 100%;

        background-image: var(--bg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        z-index: 1;
    }

    .info {
        padding: 1rem;

        width: 100%;
        height: 100%;

        background-color: hsla(0, 0%, var(--bg-lightness), 0.75);

        opacity: 0;

        user-select: none;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        transition: opacity $t-time;

        z-index: 2;

        > * {
            margin-block: 0;
        }
    }

    .frame {
        box-sizing: inherit;
    
        max-width: unset;
        aspect-ratio: unset;
    
        background-color: #000000;

        background-position: unset;
        background-repeat: unset;
        background-size: unset;
    
        border: none;
        border-radius: 0;

        pointer-events: all;

        z-index: 4;
    }

    &:hover {
        .info {
            opacity: 1;
        }
        &::after {
            opacity: 1;
        }
    }

    &::before, &::after {
        content: '';

        height: 25%;
        aspect-ratio: 1;

        clip-path: polygon(10% 0, 90% 50%, 10% 100%);

        z-index: 3;
    }

    &::before {
        background-color: darkred;

    }
    &::after {
        opacity: 0;
        background-color: hsla(0, 0%, var(--color-lightness), 1);
        transition: opacity $t-time;
    }    
}