$gap: 2rem;
$borderRadius: 1rem;
$padding: 0.5rem;
$min: 12rem;

.grid.lite {
    --paddingTrans: #{$padding};
    --padding: #{$padding};
    --borderRadius: #{$borderRadius};

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min, $min), 1fr)); /* Old Browsers (no "min()") */
    grid-template-columns: repeat(auto-fill, minmax(min(var(--min, $min), 100%), 1fr)); /* New Browser (yes "min()")*/
    gap: $gap;

    .item {
        box-sizing: border-box;
        padding: var(--paddingTrans, var(--padding, $padding));

        // aspect-ratio: 3 / 4;

        background: var(--middle-color);
        color: inherit;

        border-radius: $borderRadius;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $padding;

        text-decoration: inherit;

        &__img {
            inline-size: 100%;
            // block-size: 100%;
            // aspect-ratio: 1;

            background-image: var(--placeholder, url('/assets/placeholder.svg'));
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            object-fit: cover;
            object-position: center;

            border-radius: #{$borderRadius - $padding};
        }

        &__info, &__title, &__content {
            max-width: 100%;
        }

        &__title, &__content {
            margin-block: 0;
            margin-inline: auto;
            text-align: center;
        }

        &__content {
            text-wrap: wrap;
            text-overflow: ellipsis;
        }
    }

    &:not(.photos) {
        .item {
            &__title {
                height: fit-content;
            }
        }
    }
}