// Navigation styles
.nav {
    &[data-varient="sidebar"] {
        justify-content: center;
    }

    --data-direction: attr(data-direction, type(<custom-ident>));

    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--data-direction, row);

    gap: 1rem;
}

// Navigation buttons
.nav-btn {
    // min-width: 100%;
    &:not(.primary) {
        border: solid 1px transparent;

        text-decoration: currentColor underline;
        text-underline-offset: 5px;
    }
    
    &:hover {
        background-color: transparent;
        color: var(--nav-btn-hover)
    }
}