.nav {
    &[data-varient="sidebar"] {
        justify-content: center;
    }  

    display: flex;
    flex-wrap: wrap;

    &[data-direction="row"] {
        flex-direction: row;
    }
    &[data-direction="column"] {
        flex-direction: column;
    }

    gap: 15px;
}

.nav-btn {
    &:not(.primary) {
        border: solid 1px transparent;

        text-decoration: currentColor underline;
        text-underline-offset: 5px;
    }
    
    &:hover {
        background-color: transparent;
        color: var(--nav-btn-hover)
    }
}