.wrapper {
    grid-template-columns: 1fr auto;
}

.main-sidebar {
    --gap: 1rem;

    position: sticky;
    top: 0;
    max-height: 100dvh;
    padding-block: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    border-left: solid 1px var(--bdr-clr, var(--color));

    & > *:not(.divider) {
        padding-inline: var(--gap);
        height: fit-content;
    }
}

@media (width <= 492px) {
    .main-content {
        grid-template-columns: 1fr 0fr;
    }

    .main-sidebar {
        display: none;
    }
}

.channel-stats {
    display: grid;
    gap: var(--gap);

    .channel-container {
        --padding: 5px;

        box-sizing: border-box;
        padding: var(--padding);
        display: grid;
        grid-template-rows: subgrid;
        align-items: center;
        overflow: hidden;
        border: solid 1px var(--bdr-clr, var(--color));
        border-radius: calc(var(--padding) * 2);

        [id*="___ytsubscribe"] {
            border-radius: var(--padding);
            overflow: hidden;
        }

        [data-theme="dark"] & {
            background-color: var(--color);
        }
    }
}