.wrapper {
    grid-template-columns: 1fr auto;
}

.main-sidebar {
    padding: 1rem;

    min-width: 10rem;

    display: flex;
    flex-direction: column;

    gap: 2rem; 
    
    border-left: solid 1px var(--color);

    & > * {
        height: fit-content;
    }
}

@media (max-width: 492px) {
    .main-content {
        grid-template-columns: 1fr 0fr;
    }
    .main-sidebar {
        display: none;
    }
}

.channel-stats {
    display: grid;
    // grid-template-rows: repeat(auto-fit, minmax(3rem, 1fr));
    gap: 1rem;

    .channel-container {
        box-sizing: border-box;

        border: solid 1px var(--color);
        border-radius: 6px;

        display: grid;
        grid-template-rows: subgrid;
        align-items: center;

        overflow: hidden;

        [data-theme="dark"] & {
            background-color: var(--color);
        }
    }
}