.theme-switcher {
    --pos: 20px;
    --padding: 5px;
    --size: 30px;
    
    position: absolute;
    top: var(--pos);
    right: var(--pos);

    box-sizing: border-box;
    padding: var(--padding);

    width: var(--size);
    height: var(--size);
    aspect-ratio: 1;

    background-color: var(--color);
    border-radius: 50%;

    box-shadow: 0 0 10px 0 var(--color);

    z-index: calc(9 * pow(10, 10));

    & svg {
        stroke: var(--color);
    }
}