---
import '../styles/components/defaultInputs.scss'

import Script from '../utils/script.astro'

import type { HTMLAttributes } from 'astro/types';
import type { HTMLString } from 'astro/runtime/server/escape.js';

export interface Props extends HTMLAttributes<'textarea'> {
    align?: 'left' | 'center' | 'right';
    label?: HTMLString | String;
    autosize?: Boolean;
}

const { 
    id, label
} = Astro.props

const { ...attrs } = Astro.props

---
<div class="formGroup">
    <label for={id} set:html={label} />
    <textarea {...attrs}>{await Astro.slots.render('default')}</textarea>
    <Script name="autosize" />
</div>