.about, .contact {
    --pad: 2rem;
    --max: 1000px;

    margin-inline: auto;
    box-sizing: border-box;
    padding-inline: var(--pad);

    width: min(calc(90% - var(--pad)), var(--max));

}

.about > p {
    max-width: 100%;
    color: var(--color);
    font-size: 12pt;
    line-height: 22.5px;
    text-align: center;
}

.contact {
    --max: 500px;
    box-sizing: border-box;

    margin-block: 0;

    padding-block: var(--pad);

    border-radius: var(--pad);

    & {
        background-color: var(--color);
        color: var(--bg);
    }
    & :is(input, textarea) {
        font-family: inherit;
        font-weight: inherit;
        // font-size: inherit;
    }

    .form-field {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & > * {
            display: block;
            &:is(
                ::placeholder, :placeholder-shown, 
                :-moz-placeholder, ::-moz-placeholder, 
                :-ms-input-placeholder, 
                ::-webkit-input-placeholder
                ) {
                color: inherit;
            }

            &:is(input, textarea) {
                // box-sizing: border-box;
                padding: var(--pad);

                width: 100%;
                aspect-ratio: 9 / 1;

                background-color: var(--bg);
                color: var(--color);

                border: splid 1px var(--middle-color);
                border-radius: var(--pad);

                &:is(textarea) {
                    resize: vertical;
                }
            }
        }
    }
    & :is([type="submit"], [type="button"], button) {
        background-color: var(--bg);
    }
}

.contact :is(*, *::placeholder) {
    color: inherit;
    background-color: inherit;
}