.page-title:has(+ .author) {
    display: none;
}

.author {
    // box-sizing: border-box;
    margin: 16px auto;

    padding: 16px;

    width: clamp(400px, 100%, 600px);

    background-color: var(--color);
    color: var(--bg);

    border-radius: 32px;

    .name {
        text-align: center;
    }

    .pfp {
        aspect-ratio: 1;
        border-radius: 50%;
    }
}