$min-size: 250px;
$gap: 2rem;
$padding: 1rem;

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($min-size, 1fr)); /* Old Browsers (no "min()") */
    grid-template-columns: repeat(auto-fill, minmax(min($min-size, 100%), 1fr)); /* New Browser (yes "min()")*/
    gap: $gap;
}

.post {
    box-sizing: border-box;
    padding: $padding;

    aspect-ratio: 3 / 4;

    background: var(--middle-color);
}