$min-size: 250px;
$gap: 2rem;
$padding: 1rem;

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($min-size, 1fr)); /* Old Browsers (no "min()") */
    grid-template-columns: repeat(auto-fill, minmax(min($min-size, 100%), 1fr)); /* New Browser (yes "min()")*/
    gap: $gap;
}

.post {
    box-sizing: border-box;
    padding: $padding;

    aspect-ratio: 3 / 4;

    background: var(--middle-color);
    color: inherit;

    border-radius: $gap;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $padding;

    text-decoration: inherit;

    &__img {
        border-radius: #{$gap - $padding};
    }

    &__title, &__content {
        margin-block: 0;
    }

    &__title {
        text-align: center;
    }

    &__content {
        width: -moz-fit-content;
        width: fit-content;
        
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }
}