.music-area {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 660px));
    gap: 10px;

    & iframe {
        aspect-ratio: 3 / 4;
        border: none;
        border-radius: 1rem;
    }
}