.music-area {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 660px));
    gap: 1rem;
    justify-content: center;

    & iframe {
        border: none;
        border-radius: 10px;

        overflow:hidden;
    }
}