$textSpace: 5%;

@property --size-opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --item-opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --info-opacity {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --paddingTrans {
    syntax: "<length>";
    inherits: true;
    initial-value: 0;
}

@keyframes z-index-fix {
    0%, 100% {
        z-index: 1;
    }
}

@keyframes shadow-in {
    from {
        --item-opacity: 0;
        --info-opacity: 1;
        --paddingTrans: var(--padding);
    }
    to {
        --item-opacity: 1;
        --info-opacity: 0;
        --paddingTrans: calc(var(--padding)*1.25);
    }
}

@keyframes shadow-out {
    from {
        --item-opacity: 1;
        --info-opacity: 0;
        --paddingTrans: calc(var(--padding)*1.25);
    }
    to {
        --item-opacity: 0;
        --info-opacity: 1;
        --paddingTrans: var(--padding);
    }
}

.photos {
    margin-inline: auto;
    width: clamp(500px, 100%, 1000px);
    z-index: 1;

    .item {
        --size-opacity: var(--item-opacity);

        $time: 750ms;
        $shadow: 0 0 var(--padding) hsla(0, 0%, var(--color-lightness), var(--size-opacity, 1));
        position: relative;
        pointer-events: all;
        overflow: clip;

        transition: scale $time;
        animation: 
            z-index-fix $time ease,
            shadow-out $time ease;
        // &:nth-child(5n-3) {
        //     grid-column: span 2;
        //     grid-row: span 2;
        // }
        box-shadow: $shadow;

        cursor: pointer;


        &:hover {
            --item-opacity: 1;
            --paddingTrans: calc(var(--padding)*1.25);

            position: relative;
            scale: 1.25;
            z-index: 2;
            animation: shadow-in $time ease;

            .item__info {
                opacity: 0;
                pointer-events: none;
            }
        }
        
        &__info {
            --info-opacity: 1;
            --size-opacity: var(--info-opacity);

            position: absolute;
            inset: var(--padding);

            background-color: hsla(0, 0%, var(--bg-lightness), 0.125);
            
            border-radius: calc(var(--borderRadius) - var(--padding));
            gap: 2rem;

            transition: opacity $time;

        }
        &__title, &__content {
            padding: var(--padding) calc(var(--padding) * 1.5);

            background-color: var(--middle-color);
            border-radius: 100dvw;

            align-self: center;
            
            box-shadow: $shadow;
        }
        &__title {
            &:has(+ .item__content) {
                align-self: end;
            }
            + .item__content {
                align-self: start;
            }
        }
        
        &__image {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            pointer-events: none;
        }
    }
}