.post, .page-title:has(+ .post) {
    --padding: 1rem;
    --bor: 1px solid var(--bdr-clr, var(--color));
    
    margin-inline: auto;
    width: clamp(500px, 100%, 800px);
}

.page-title:has(+ .post), .post :is(.info, .pageContent) {
    border-left: var(--bor);
    border-right: var(--bor);
}

.info {
    margin: 0;
    border-bottom: var(--bor);
}

.post {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .info, .postContent {
        padding: var(--padding);
    }

    .postContent {
        margin-bottom: var(--padding);
        flex: 1;

        * {
            text-wrap: wrap;
        }

        & > :first-child {
            margin-top: 0;
        }
        & > :last-child {
            margin-bottom: 0;
        }
    }
}

.post .postContent {
    code {
        display: inline-block;
    }
}