html {
	scroll-timeline: --page-scroll block;
}

.post, .page-title:has(+ .post) {
    --pad: 1rem;
    --bor: 0.09375rem solid var(--color);

    margin-inline: auto;
    width: clamp(500px, 100%, 800px);
}

.page-title:has(+ .post), .post {
    @media (width > 1012px) {
        & {
            border-left: var(--bor);
            border-right: var(--bor);
        }
    }
}

.post {
    gap: 0;

    .info, .post-area {
        padding: var(--pad);
    }

    .info {
        margin: 0;
        border-bottom: var(--bor);
    }
    
    .scroll-percentage {
        --w: 0;
        --h: 10px;
    
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
    
        height: calc(var(--h)*2);
    
        &::before, &::after {
            content: '';
            position: absolute;
            inset: 0;

            height: var(--h);
            border-radius: 100dvw;
        }
        &::before {
            background-color: lightgray;

            box-shadow: 0 calc(var(--h)/2) calc(var(--h)/2) 0 white;
        }
        &::after {
            width: 0;
            transform-origin: left;
    
            background-color: gray;
    
            animation: position auto linear;
            animation-timeline: --page-scroll;
            animation-range: normal; /* Equivalent to normal normal */
        }
    }
    
    .post-area {
        flex: 1;
        padding-block-start: 0;
        margin-bottom: var(--pad);
        border-bottom: var(--bor);

        .post-content {
            > * {
                text-wrap: wrap;
            }
    
            > :first-child {
                &, > :first-child {
                    margin-top: 0;
                }
            }
            > :last-child {
                &, > :last-child {
                    margin-bottom: 0;
                }
            }

            pre.astro-code:has( > code) {
                padding: var(--pad);
            }
        }
    }
}
    
@keyframes position {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
