.main-content {
    display: flex;
    flex-direction: column;
    &:not(.post) {
        gap: var(--pad);
    }
}

.category {
    &__title {
        text-align: center;
    }
}



// .grid {
//     margin: var(--gap);
// }
// .project-description {
//     padding: 0.5rem;
//     border: solid 1px gray;
// }