section#videos {
    --gap: 25px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: var(--gap);
    gap: var(--gap);
}
  
section#videos > iframe {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    aspect-ratio: 16 / 9;
}  