.videos {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(316.6px, 1fr));
}

.videos > iframe {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    aspect-ratio: 16 / 9;
}  