@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './variables.scss';

:not(nav *):not([class*="-title"]) {
    box-sizing: border-box;
}

:root {
    --logo-a-color: #{$logo-a-color};
    
    --bg: #{$light-bg};
    --bg-lightness: #{$main-bg-lightness};
    --color: #{$light-color};
    --color-lightness: #{$main-color-lightness};
    --bdr-clr: unset;
    --middle-lightness: #{$middle-lightness};
    --middle-color: #{$middle-color};
    --primary-btn-clr: #{$primary-btn-clr};
    --nav-btn-hover: #{$light-nav-hover};
    
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Inter', sans-serif;
}  

:has(:target), html {
    scroll-behavior: smooth;
}

@media (preferes-color-scheme: dark) {
    :root {
        --bg: #{$dark-bg};
        --bg-lightness: #{$main-color-lightness};
        --btn-clr: #{$dark-color};
        --color: #{$dark-color};
        --color-lightness: #{$main-bg-lightness};
        --bdr-clr: #{$dark-border};
        --nav-btn-hover: #{$dark-nav-hover};
    }
}

html {
    color-scheme: light dark;
}

[data-theme="light"] {
    color-scheme: light;
}
[data-theme="dark"] {
    --bg: #{$dark-bg};
    --bg-lightness: #{$main-color-lightness};
    --btn-clr: #{$dark-color};
    --color: #{$dark-color};
    --color-lightness: #{$main-bg-lightness};
    --bdr-clr: #{$dark-border};
    --nav-btn-hover: #{$dark-nav-hover};
    color-scheme: dark;
}

html, iframe {
    margin: 0;
    padding: 0;

    min-width: 100%;
    min-height: 100%;

    border: none;
    outline: none;

    box-shadow: none;
}
  
body {
    margin: 0;

    min-height: 100dvh;

    background-color: var(--bg);
    color: var(--color);

    display: flex;
    flex-direction: column;

    @supports(container-type: inline-size) {
        container-type: inline-size;
    }
}

// [aria-hidden="true"] {
//     // display: none;
// }

/* Styles for below the nav bar */

img {
    max-width: 100%;
}

.wrapper {
    flex: 1;

    width: 100%;

    display: grid;

    & ~ iframe {
        display: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    
    gap: 0;

    max-width: 100%;

    hr {
        margin-inline: auto;
    }
    &:not(.isSoon) {
        margin: 0 !important;
    }
}

.main-content {
    --pad: 1rem;
    &:not(.author) {
        flex: 1;
    }

    box-sizing: border-box;
    max-width: 100%;
    &:not(.ignorePadding) {
        padding: var(--pad);
    }
}

.section, .hero {
    &:not(.ignorePadding) {
        padding-bottom: var(--pad);
        > :not(.section-title, .hero *):first-of-type {
            padding-top: var(--pad);
        }
    }
}

.btn {
    box-sizing: border-box;
    padding: 10px 20px;
  
    min-width: var(--min-width, fit-content);
  
    border-radius: 100vw;
  
    font-size: 1.25rem;
    text-align: center;
    text-decoration: none;
  
    cursor: pointer;
    
    &:not(.primary) {
        background-color: transparent;
        color: var(--color);
    
        border: solid 1px var(--color);    
    }

    &.primary {
        background-color: var(--color);
        color: var(--bg);
        
        border: solid 1px var(--bg);

        &:hover {
            background-color: var(--nav-btn-hover);
            color: var(--bg)
        }
    }
  
    &:hover {
        background-color: var(--nav-btn-hover);
        color: var(--bg)
    }
}

hr[isDivider], .divider {
    --size: var(--s, 100%);
    --stroke: 1px;
    --mar: 1rem;

    background-color: var(--color);

    &.h {
        width: var(--size);
        height: var(--stroke);
        margin-inline: auto;
        margin-block: var(--mar);
    }
    &.v {
        height: var(--size);
        width: var(--stroke);
        margin-block: auto;
        margin-inline: var(--mar);
    }
}
  
.page-title {
    margin: 0;
    padding-block: 1.26375rem;

    border-bottom: 1px solid var(--color);

    text-align: center;
}

.section-title {
    --bor: 1px solid var(--color);

    margin: 0;
    padding-block: 0.83rem;

    border: var(--bor);

    text-align: center;
}

h1, h2, h3, h4, h5, h6, .heading-link {
    // font-size: 2.5rem;
    text-decoration: none;
}

form {
    width: -moz-fit-content;
    width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
  
fieldset {
    width: clamp(30rem, 30vw, 40rem);
  
    & p {
        width: 100%;
    }
}

address, blockquote, details, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hgroup, li, menu, ol, p, pre, table, tbody, tfoot, thead, ul {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.flex-spacer {
    flex: 1;
}
