@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-bg-lightness: 100%;
$main-color-lightness: 15%;
$main-nav-lightness: 45.5%;

$light-bg: hsl(0, 0%, $main-bg-lightness);
$light-color: hsl(0, 0%, $main-color-lightness);
$light-nav-btn: hsl(0, 0%, calc(0% - $main-nav-lightness));

$light-link-color: #0000EE;
$light-link-visited: #551A8B;

$dark-bg: hsl(0, 0%, $main-color-lightness);
$dark-color: hsl(0, 0%, $main-bg-lightness);
$dark-nav-btn: hsl(0, 0%, calc(100% - $main-nav-lightness));

$dark-link-color: #0000EE;
$dark-link-visited: #551A8B;

$change-amt: 10%;


* {
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Inter', sans-serif;
    :not(nav *) {
        box-sizing: border-box;
    }
}

:root {
    --logo-a-color: hsl(195, 12%, 94%);
    --active-link: hsl(352, 68%, 77%);

    --bg: #{$light-bg};
    --color: #{$light-color};
    
    --nav-btn-bg: #{$light-nav-btn};
    --nav-btn-hover: darken($light-nav-btn, $change-amt);
}

:has(:target), html {
    scroll-behavior: smooth;
}

@media (preferes-color-scheme: dark) {
    :root {
        --bg: #{$dark-bg};
        --color: #{$dark-color};
        --nav-btn-bg: #{$dark-nav-btn};
        --nav-btn-hover: lighen($dark-color, $change-amt);
    }
}

html {
    color-scheme: light dark;
}

[data-theme="light"] {
    --bg: #{$light-bg};
    --color: #{$light-color};
    --nav-btn-bg: #{$light-nav-btn};
    --nav-btn-hover: darken($light-nav-btn, $change-amt);
    color-scheme: light;
}
[data-theme="dark"] {
    --bg: #{$dark-bg};
    --color: #{$dark-color};
    --nav-btn-bg: #{$dark-nav-btn};
    --nav-btn-hover: lighen($dark-color, $change-amt);
    color-scheme: dark;
}

html, iframe {
    margin: 0;
    padding: 0;

    min-width: 100%;
    min-height: 100%;

    border: none;
    outline: none;

    box-shadow: none;
}
  
body {
    margin: 0;

    min-height: 100dvh;

    background-color: var(--bg);
    color: var(--color);

    display: flex;
    flex-direction: column;
}

// [aria-hidden="true"] {
//     // display: none;
// }

/* Styles for below the nav bar */

.wrapper {
    flex: 1;

    width: 100%;

    display: grid;

    & ~ iframe {
        display: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    
    gap: 0;

    max-width: 100%;

    hr {
        margin-inline: auto;
    }
    &:not(.isSoon) {
        margin: 0 !important;
    }
}

.main-content {
    flex: 1;

    box-sizing: border-box;
    max-width: 100%;
    &:not(.ignorePadding) {
        padding: 8px;
    }
}

hr[isDivider] {
    display: none;
    margin-top: 0;
    background: gray;
}

.divider {
    --size: var(--s, 100%);
    --stroke: 1px;

    background-color: var(--color);

    &.h {
        width: var(--size);
        height: var(--stroke);
        margin-inline: auto;
    }
    &.v {
        height: var(--size);
        width: var(--stroke);
        margin-block: auto;
    }
}
  
h1.page-title {
    margin: 0;
    padding-block: 1.26375rem;

    border-bottom: 0.09375rem solid var(--color);
    border-radius: 0.5rem 0.5rem 0 0;

    text-align: center;
}

h1, .heading-link {
    font-size: 2.5rem;
    text-decoration: none
}

h2 {
    font-size: 2.5rem;
    text-decoration: none;
    margin-block: 1.1rem;
}

form {
    width: -moz-fit-content;
    width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 64px;
}
  
fieldset {
    width: clamp(30rem, 30vw, 40rem);
  
    & p {
        width: 100%;
    }
}