.site-grid {
    position: relative;
}

.site-grid hr {
    margin-block: 0.625em;
}

.grid {
    --gap: 25px;
    --minmax: 316.6px;
    --columns: 6;

    margin-inline: auto;
    box-sizing: border-box;
    padding: calc(var(--gap) - 25px);

    height: fit-content;
    max-width: 100%;

    display: grid;
    grid-template-columns: repeat(/*auto-fit*/var(--columns), minmax(calc(var(--minmax)/2), var(--minmax))); // 6
    gap: var(--gap);

    &:not(#videos) {
        width: min(100%, 1000px);
    }

    @media (max-width: 1016px) and (min-width: 509px) {
        grid-template-columns: repeat(2, minmax(316.6px, 1fr)); // 4
    }
    @media (max-width: 508px) {
        grid-template-columns: repeat(1, minmax(316.6px, 1fr)); // 2
    }
}

.grid .item {
    &.featured {
        grid-column: span calc(var(--span)*2);
    }
    &:not(:has( + .item + .item)):has( + .item), &.left {
        --outside: calc(var(--columns)/2 - var(--span)/2);
        --inside: calc(var(--columns)/2 + var(--span)/2);
        grid-column: calc(1*var(--outside)) / calc(1*var(--inside));
        &.featured {
            grid-column: calc(1*var(--outside) - var(--span)*2) / calc(1*var(--inside));
        }
        & + .item, .right {
            grid-column: calc(-1*var(--inside)) / calc(-1*var(--outside) + var(--span)*2);
            &.featured {
                grid-column: calc(1*var(--inside)) / calc(1*var(--outside) + var(--span)*2);
            }
        }
    }
    &:not(:has( + .item)), &.center {
        grid-column: calc(var(--columns)/2) / calc(-1*var(--columns)/2);
        &.featured {
            grid-column: calc(1*var(--columns)/2 - var(--span)/2) / calc(-1*var(--columns)/2 + var(--span)/2);
        }
    }
}

.grid .item {
    --span: 2;
    // height: fit-content;

    border: solid 1px var(--foreground-tertiary-color);

    cursor: pointer;

    grid-column: span var(--span);

    .image-link {
        width: 100%;
        aspect-ratio: 1;

        display: grid;

        background-color: var(--foreground-secondary-color);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        // &:hover, &:focus, &:focus-visible, .hasTitle & {
            border-bottom: solid 1px var(--foreground-tertiary-color);
        // }

        :not(.portfolio) &:is(:hover, :focus, :focus-visible) {
            background-size: contain;
        }
    }

    & > div {
        height: fit-content;
        &:not([paddingOnHover]) {
            > * {
                --val: 2;
                --pad: calc(var(--gap)/var(--val));
                box-sizing: border-box;
                gap: 0;
            }
            > a {
                padding: var(--pad);
                // > * {
                //     margin: 0;
                // }
            }
        }

        display: flex;
        flex-direction: column;
    }

    & :is(h1, h2, h3, h4, h5, h6) {
        margin-block: 0.25em;
    }
    
    & :is(h1, h2, h3, h4, h5, h6), & span {
        text-wrap: balance;
        text-align: center;
    }

    & .description {
        display: grid;
        grid-template-rows: 0fr;

        transition: grid-template-rows 100ms ease;
    }

    & span {
        overflow-y: hidden;

        transition: height 1s ease;

        cursor: initial;
    }

    &:is(:hover, :focus, :focus-visible, :focus-within) {
        // & .image-link {
            // background-size: contain;
        // }
        & a:not(.image-link) {
            border-bottom: solid 1px var(--foreground-tertiary-color);
        }

        & > div:not([paddingOnHover]) > :not(a) {
            padding: var(--pad);
        }
        & .description {
            grid-template-rows: 1fr;
        }
        & span {
            height: auto;
            margin-block: 0.5em;
        }
    }
}