.site-grid {
    position: relative;
}

.site-grid hr {
    margin-block: 0.625em;
}

.grid {
    --gap: 25px;

    margin-inline: auto;
    box-sizing: border-box;
    padding: calc(var(--gap) - 25px);

    height: fit-content;
    max-width: 100%;

    display: grid;
    grid-template-columns: repeat(/*auto-fit*/6, minmax(calc(316.6px/2), 316.6px)); // 6
    gap: var(--gap);

    &:not(#videos) {
        width: min(100%, 1000px);
    }

    @media (max-width: 1016px) and (min-width: 509px) {
        grid-template-columns: repeat(2, minmax(316.6px, 1fr)); // 4
    }
    @media (max-width: 508px) {
        grid-template-columns: repeat(1, minmax(316.6px, 1fr)); // 2
    }
}

.grid .item {
    &:not(:has( + .item)) {
        grid-column: -3 / -1;
    }
    &:not(:has( + .item + .item)) {
        grid-column: 2 / 4;
        & + .item {
            grid-column: -4 / -2;
        }
    }
}

.grid .item {
    // height: fit-content;

    border: solid 1px var(--foreground-tertiary-color);

    cursor: pointer;

    grid-column: span 2;

    .image-link {
        width: 100%;
        aspect-ratio: 1;

        display: grid;

        background-color: var(--foreground-secondary-color);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        // &:hover, &:focus, &:focus-visible, .hasTitle & {
            border-bottom: solid 1px var(--foreground-tertiary-color);
        // }

        :not(.portfolio) &:is(:hover, :focus, :focus-visible) {
            background-size: contain;
        }

        &:focus, &:focus-visible + div, 
        div:has(a:is(:focus, &:focus-visible)) {
            & .description {
                grid-template-rows: 1fr;
            }
            & span {
                height: auto;
                visibility: unset;
                margin-block: 0.5em;
            }
        }
    }

    & > div {
        &:not([paddingOnHover]) {
            > * {
                --val: 2;
                box-sizing: border-box;
                padding: calc(var(--gap)/var(--val));
                gap: 0;
            }
        }

        display: flex;
        flex-direction: column;
    }

    & :is(h1, h2, h3, h4, h5, h6) {
        margin-block: 0;
    }
    
    & :is(h1, h2, h3, h4, h5, h6), & span {
        text-wrap: balance;
        text-align: center;
    }

    & .description {
        display: grid;
        grid-template-rows: 0fr;

        transition: grid-template-rows 100ms ease;
    }

    & span {
        overflow-y: hidden;

        visibility: hidden;
        transition: height 1s ease;

        cursor: initial;
    }

    &:is(:hover, :focus, :focus-visible, :focus-within) {
        // & .image-link {
            // background-size: contain;
        // }
        & a:not(.image-link) {
            border-bottom: solid 1px var(--foreground-tertiary-color);
        }

        & div {
            gap: calc(var(--gap)/2);
        }
        & .description {
            grid-template-rows: 1fr;
        }
        & span {
            height: auto;
            visibility: unset;
            margin-block: 0.5em;
        }
    }
}