:root {
    --font-family: 'Montserrat', sans-serif !important;
    --background-primary-color: #18181a;
    --background-secondary-color: #292929;
    --foreground-primary-color: #b8b8b8;
    --foreground-secondary-color: white;
    --foreground-tertiary-color: #0078d7 !important;
    --accent-primary-color: #0078d7 !important;
    --accent-secondary-color: #098765 !important;    
}  