---
import Layout from '../layouts/Layout.astro'
---
<Layout title="404" pTitle="Not Found">
  <span class="current-URL-not-found"></span>
  <p></p>
  Error Type: 404
  <script is:inline>
    let pageTitle = document.querySelector('.current-URL-not-found')
    let aHTML = `<a href="${location.href}">`
    if (location.pathname.startsWith('/404')) {
      aHTML += `the requested page`
    }
    else {
      aHTML += `${location.pathname}`
    }
    aHTML += `</a>`
    pageTitle.innerHTML = `${aHTML} Could not be found`

  </script>
</Layout>