---
import Layout from '../layouts/Layout.astro'
---
<Layout title="404" pTitle="Not Found">
  <font class="current-URL-not-found"></font>
  <p></p>
  Error Type: 404
  <script src="/404.js" is:inline></script>
</Layout>