---
import Layout from '../layouts/Layout.astro'
---
<Layout title="404" pTitle="Not Found">
  <span class="current-URL-not-found"></span>
  <p></p>
  Error Type: 404
  <script src="/404.js" is:inline></script>
</Layout>