---
import '../styles/globals.scss'

import Select from '../defaultComponents/Select.astro'
import Input from '../defaultComponents/Input.astro'
---
<div>
    <Input label="Text" type="text" id="one">Text</Input>
    <input type="text" />
</div>
<div>
    <Select label="Text" id="two">
        <option>Hello</option>
    </Select>
    <select>
        <option>Hello</option>
    </select>
</div>