---
// Imports
import '../styles/list.scss'

import Layout from '../layouts/Layout.astro'

---

<!-- Sites Page -->
<Layout title="Sites">
    <section class="list v">
        <!-- <div>
            <a href="https://ww.RockGamerAK.com">My Business</a>: 
            <span class="project-description">Web Wizards is a suite of Online Tools to help boost your productivity.</span>
        </div>
        <hr width="650"> -->
        <div>
            <a href="/videos">My YouTube Videos</a>: 
            <span class="project-description">Watch My YouTube Videos Here</span>
        </div>
    </section>
</Layout>