---
import '../styles/pages/[about, contact].scss'
import '../styles/pages/author.scss'

import Layout from '../layouts/Layout.astro'

---
<Layout title="Author" pageType="author" classItems="ignorePadding">
    <h2 class="displayName"></h2>
    <script>
        const urlSearchParams = new URLSearchParams(window.location.search);
        const username = urlSearchParams.get('username');

        var author = {}
        await fetch(`https://blogfeed.adarshrkumar.dev/getAuthor?username=${username}`)
            .then(response => response.json())
            .then(json => {
                author = json
            })
        

        if (author.code === 200) {
            var authorEle = document.querySelector('.author')
            authorEle.querySelector('.displayName').textContent = author.displayName
        }
        else location.href = '/blog'

    </script>
</Layout>