---
import '../styles/pages/blog.scss'

import Layout from '../layouts/Layout.astro'

const allPosts = await Astro.glob('../posts/*.md')
---
<Layout title="Blog">
  <section class="posts">
    {allPosts}
    {
      allPosts.map((post) => {
        <div class="post">
          <img />
          <div class="info">
            <h3>{post.frontmatter.title}</h3>
            <p>{post.rawContent}</p>
          </div>
        </div>
      })
    }
  </section>
</Layout>