---
import '../styles/pages/blog.scss'

import Layout from '../layouts/Layout.astro'

import fs from 'fs'

import getPosts from '../getPosts.js'

var posts = getPosts()

---
<Layout title="Blog">
  <section class="posts">
    {
      posts.map((post) => {
        <div class="post">
          <img />
          <div class="info">
            <h3>{post.frontmatter.title}</h3>
            <p>{post.rawContent}</p>
          </div>
        </div>
      })
    }
  </section>
</Layout>