---
import '../styles/pages/[about, contact].scss'
import '../styles/pages/post.scss'

import Layout from '../layouts/Layout.astro'

---
<Layout title="Blog" pageType="post">
    <section class="info">
        <a href="/authors" class="author">See All Authors</a> | <span class="date">Today</span>
    </section>
    <article class="content">

    </article>
    <script>
        const urlSearchParams = new URLSearchParams(window.location.search);
        const postId = urlSearchParams.get('id');

        var post = {}
        await fetch(`https://blogfeed.adarshrkumar.dev/getPost?path=${postId}`)
            .then(response => response.json())
            .then(json => {
                post = json
            })
        

        if (post.code === 200) {
            var postEle = document.querySelector('.post')
            var infoEle = postEle.querySelector('.info')
            
            document.querySelector('.page-title').textContent = post.title
            document.title = `${post.title} | ${document.title}`
            
            infoEle.querySelector('.author').href = `/authors/${author.username}`
            infoEle.querySelector('.author').textContent = author.displayName

            postEle.querySelector('.content').innerHTML = post.content

            console.log(post)
        }
        else location.href = '/blog'

    </script>
</Layout>