---
import '../styles/pages/blog.scss'

import Layout from '../layouts/Layout.astro'

import fs from 'fs'

var posts = []

const postFiles = fs.readdirSync(`./../posts`)
postFiles.forEach(function(p, i) {
  var post = fs.readFileSync(`./../posts/${p}`)
  posts.push(post)
})
---
<Layout title="Blog">
  <section class="posts">
    {
      allPosts.map((post) => {
        <div class="post">
          <img />
          <div class="info">
            <h3>{post.frontmatter.title}</h3>
            <p>{post.rawContent}</p>
          </div>
        </div>
      })
    }
  </section>
</Layout>