---
import '../styles/components/fullAreaIframe.scss'

import Layout from '../layouts/Layout.astro'
import SiteGridContent from '../components/SiteGridContent.astro'

import Hero from '../components/hero.astro'
import PortfolioHighlights from '../components/portfolioHighlights.astro'
import FeaturedArticles from '../components/featuredArticles.astro'

---
<Layout title="" pageType="home">
    <Hero />
    <section class="section pHighlights">
        <h2 class="section-title">Featured Portfolio Items</h2>
        <PortfolioHighlights />
    </section>
    <section class="section bFeatures">
        <h2 class="section-title">Featured Blog Posts</h2>
        <FeaturedArticles />
    </section>
    <!-- Latest Blog Posts -->
    <!-- Photography Showcase -->
    <!-- Skills Overview -->
    <!-- Featured Project -->
    <!-- Tutorials and Resources (If Any) -->
    <!-- Newsletter Signup -->
</Layout>