<link rel="stylesheet" href="/sidebar.css" />
<nav style="justify-content: right;">
  <ul class="nav-links">
    <li class="navigation-button">
      <form action="https://getform.io/f/3336500b-b814-464c-980e-0a9fcacfcb82" method="POST">
	    <p>
	      <label for="first-name" align="left" width="100">
	        <b>First Name: </b>
	      </label>
          <input type="text" name="name" id="first-name" placeholder="What's your name?" required="TRUE">
	    </p>
	    <p>
          <label for="last-name" align="left" width="100">
            <b>Last Name: </b>
          </label>
          <input type="text" name="name" id="last-name" placeholder="What's your name?" required="TRUE">
        </p>
        <p>
	      <label for="email-address" align="left" width="100">
	        <b>Email Address: </b>
	      </label>
          <input type="email" name="email" id="email-address" placeholder="you@email.tld" required="TRUE">
	    </p>
	    <input type="submit" value="Send" class="contact-button" align="right" style="cursor: pointer;">
	  </form>
    </li>
  </ul>
</nav>