---
import '../styles/pages/music.scss'

import Layout from '../layouts/Layout.astro'

import SiteGridContent from '../components/siteGridContent.astro'

const vids = [
    'PiruxQ5s-aw', 
    'lmmfbstDWjQ', 
    'vqzBSyL_3-c', 
    'eNV7s5V1gW0',
]

var playlists = [
    'https://embed.music.apple.com/us/playlist/on-the-road-s/pl.u-r2yBDVqsRy4JPxe', 
    'https://embed.music.apple.com/us/playlist/daytime-hits-s/pl.u-06oxpo6tY48JWV7', 
    'https://embed.music.apple.com/us/playlist/rise-shine-s/pl.u-MDAWkl9tANVeW83', 
]

---
<Layout title="My Music">
    <SiteGridContent id="videos" options={{keys: ['min'], values: {min: '12rem'}}}>
        {
            vids.map((vid, i) => {
                return <iframe class="frame" src={`https://www.youtube-nocookie.com/embed/${vid}`} />
            })
        }
    </SiteGridContent>
    <section class="music-area">
        {
          playlists.map(p => {
            return <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src={p}></iframe>
          })
        }
      </section>
</Layout>