---
import '../styles/components/fullAreaIframe.scss'

import Layout from '../layouts/Layout.astro'
---
<Layout title="Music Taste" classItems="ignorePadding" inlineStyles="display: grid;">
  <iframe frameborder="0" src="https://music.apple.com/profile/RockGamerAK" style="background: white;">
    <script>
      location.href = document.querySelectorAll('iframe').pop().src
    </script>
    <noscript>
      <a href="https://music.apple.com/profile/RockGamerAK" target="_blank">Go To My Profile!</a>
    </noscript>
  </iframe>
</Layout>