---
import '../styles/pages/music.scss'

import Layout from '../layouts/Layout.astro'

import SiteGridContent from '../components/siteGridContent.astro'

const vids = [
    // 'PiruxQ5s-aw', 
    'lmmfbstDWjQ', 
    '1go0R7GrNkE',
    'vqzBSyL_3-c', 
]

var playlists = [
    'https://embed.music.apple.com/us/playlist/on-the-road-s/pl.u-r2yBDVqsRy4JPxe', 
    'https://embed.music.apple.com/us/playlist/daytime-hits-s/pl.u-06oxpo6tY48JWV7', 
    'https://embed.music.apple.com/us/playlist/rise-shine-s/pl.u-MDAWkl9tANVeW83', 
]

---
<Layout title="My Music">
    <h2 class="section-title">My Performances</h2>
    <SiteGridContent classItems="videos" options={{keys: ['min', 'max'], values: {min: '4rem', max: '495px'}}}>
        {
            vids.map((vid, i) => {
                return <iframe class="frame" src={`https://www.youtube-nocookie.com/embed/${vid}`} />
            })
        }
    </SiteGridContent>
    <h2 class="section-title">My Music Taste</h2>
    <SiteGridContent classItems="music" options={{keys: ['min', 'max'], values: {min: '4rem', max: '660px'}}}>
        {
          playlists.map(p => {
            return <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src={p}></iframe>
          })
        }
    </SiteGridContent>
</Layout>