---
import '../styles/grid.scss'
import '../styles/pages/portfolio.scss'

import Layout from '../layouts/Layout.astro'
import SiteGridContent from '../components/SiteGridContent.astro'
---
<Layout title="Portfolio">
  <SiteGridContent>
    <section class="grid portfolio">
      <div class="item">
        <a href="https://graphics-for-good.com" target="_blank" class="image-link"></a>
        <div>
          <a href="https://graphics-for-good.com"target="_blank" >
            <h3>Graphics for Good</h3>
          </a>
          <div class="description">
            <span>I helped develop and am the Lead Website Designer and Manager of the Graphics for Good Club at my school.</span>
          </div>
        </div>
      </div>
      <div class="item">
        <a href="https://megangillespiemezzo.com/" target="_blank" class="image-link"></a>
        <div>
          <a href="https://megangillespiemezzo.com/" target="_blank">
            <h3>Megan Gillespie</h3>
          </a>
          <div class="description">
            <span>I did a two week internship through my school with the best ever Megan Gillespie, which consisted of fixing up, editing, and streamining her website.</span>
          </div>
        </div>
      </div>
      <!-- <div class="item">
        <a href="projects/recipe-with-flexbox/oatmeal_cookies.html" target="_blank" class="image-link"></a>
        <div>
          <a href="projects/recipe-with-flexbox/oatmeal_cookies.html" target="_blank">
            <h3>Recipe with Flexbox</h3>
          </a>
          <div class="description">
            <span>A recipe page for oatmeal cookies that you can use to make your own.</span>
          </div>
        </div>
      </div> -->
      <!-- <div class="item">
        <a href="projects/quotes-application.html" target="_blank" class="image-link"></a>
        <div>
          <a href="projects/quotes-application.html" target="_blank">
            <h3>Quotes Application</h3>
          </a>
          <div class="description">
            <span>A web-app that displayed quotes from the ZyBooks Quote API.</span>
          </div>
        </div>
      </div> -->
      <!-- <div class="item">
        <a href="projects/temperature-converter/" target="_blank" class="image-link"></a>
        <div>
          <a href="projects/temperature-converter/" target="_blank">
            <h3>Temperature Converter</h3>
          </a>
          <div class="description">
            <span>A neat web-app that converts temperature including Kelvin.</span>
          </div>
        </div>
      </div> -->
      <!-- <div class="item">
        <a href="projects/rate.html" target="_blank" class="image-link"></a>
        <div>
          <a href="projects/rate.html" target="_blank">
            <h3>Product Rating</h3>
          </a>
          <div class="description">
            <span>A form that people can use as a way for customers rating products.</span>
          </div>
        </div>
      </div> -->
    </section>
  </SiteGridContent>
</Layout>