<link rel="stylesheet" href="/sidebar.css" />
<nav style="justify-content: left;">
  <ul class="nav-links">
    <a href="/home">
      <li class="navigation-button">Home</li>
    </a>
    <a href="/about">
      <li class="navigation-button">About</li>
    </a>
    <a href="/contact">
      <li class="navigation-button">Contact</li>
    </a>
    <a href="/projects">
      <li class="navigation-button">Projects</li>
    </a>
    <a href="https://Blog.RockGamerAK.com">
      <li class="navigation-button">Blog</li>
    </a>
    <a href="/sites">
      <li class="navigation-button">Sites</li>
    </a>
  </ul>
</nav>