---
import '../styles/pages/soon.scss'

import Layout from '../layouts/Layout.astro'
---
<Layout title="Soon" classItems="isSoon">
  <hr>
  <h1 id="page-title" style="margin: 0; padding: 0 !important;">Coming Soon</h1>
  <hr>
  <br>
  <!-- ShareThis BEGIN --><div class="sharethis-inline-follow-buttons" style="display: none;"></div><!-- ShareThis END -->
  <p>This site is under development right now, I will put something here soon!</p>
  <p>In the meantime, you can email me at: <a href="mailto:adarshrkumar+site@aol.com">adarshrkumar+site@aol.com</a>.</p>
  <!-- <hr> -->
  <!-- <h1>Credits: </h1> -->
  <!-- <p>Main Contributer: <a href="https://solo.to/adarshrkumar">adarshrkumar</a></p> -->
  <script>
    var img = document.querySelector('.logo')
    var operation
    function go() {
      if (Number(img.getAttribute('style').split('left: ')[1].split('px')[0]) === 0) {
        operation = '+'
      }
      else if (Number(img.getAttribute('style').split('left: ')[1].split('px')[0]) === (window.innerWidth - 125)) {
        operation = '-'
      }
      if (operation === '+') {
        img.setAttribute('style', `left: ${Number(img.getAttribute('style').split('left: ')[1].split('px')[0])+1}px;`)
      }
      else if (operation === '-') {
        img.setAttribute('style', `left: ${Number(img.getAttribute('style').split('left: ')[1].split('px')[0])-1}px;`)
      }
    }
    setInterval(go, 50)
  </script>
</Layout>