---
import '../styles/pages/videos.scss'

import Layout from '../layouts/Layout.astro'
---
<Layout title="Videos">
  <section id="videos"></section>
  <script src="/videos.js" is:inline></script>
</Layout>