---
import '../styles/grid.scss'
import '../styles/pages/videos.scss'

import Layout from '../layouts/Layout.astro'

import Script from '../utils/script.astro'
---
<Layout title="Videos">
  <section id="videos" class="grid"></section>
  <Script name="videos" />
</Layout>