---
import '../styles/components/header.scss'

import Nav from '../components/nav.astro'
import ThemeSwitcher from '../components/themeSwitcher.astro'

var { logo } = Astro.props

---
<header id="header">
    <a class="logo" href="/" style={`background-image: url('${logo}');`}></a>
    <Nav />
    <ThemeSwitcher defaultTheme="system"/>
</header>