---
import '../styles/components/header.scss'

import ThemeSwitcher from '../components/themeSwitcher.astro'

var { logo } = Astro.props

---
<header id="header">
    <a class="logo" href="/" style={`background-image: url('${logo}');`}></a>
    <nav class="nav">
        <button url="/" class="nav-btn" onclick="goToUrl(this)">Home</button>
        <button url="/about" class="nav-btn" onclick="goToUrl(this)">About</button>
        <button url="/contact" class="nav-btn" onclick="goToUrl(this)">Contact</button>
        <button url="/portfolio" class="nav-btn" onclick="goToUrl(this)">Portfolio</button>
        <button url="/projects" class="nav-btn" onclick="goToUrl(this)">Projects</button>
        <button url="https://blog.adarshkumar.dev" target="_blank" class="nav-btn" onclick="goToUrl(this)">Blog</button>
   <!-- <button url="/sites" class="nav-btn" onclick="goToUrl(this)">Sites</button> -->
        <button url="/videos" class="nav-btn" onclick="goToUrl(this)">Videos</button>
   <!-- <button url="/music" class="nav-btn" onclick="goToUrl(this)">Music</button> -->
    </nav>
    <ThemeSwitcher defaultTheme="system"/>
</header>
<script is:inline>
    var largestWidth = 0
    document.querySelectorAll('.nav-btn').forEach(function(b, i) {
        if (b.clientWidth > largestWidth) largestWidth = b.clientWidth
    })
    document.querySelector('.nav-btn').parentNode.style.setProperty('--min-width', `${largestWidth/16}rem`)

    function goToUrl(btn, target) {
        var link = btn
        if (!!target === false || target == null) target = '_self'
        console.log(target)
        if (typeof link !== 'string') {
            link = btn.getAttribute('url')
            target = btn.getAttribute('target')
            if (!!target === false) {
                if (link.includes('://')) target = '_blank'
            }
        }
        if (!!link === false) link = '/'
        if (target === '_blank') {
            window.open(link)
        }
        else if (target === '_parent') {
            parent.location.href = link
        }
        else if (target === '_top') {
            top.location.href = link
        }
        else if (target.startsWith('_') === false) {
            document.getElementById(target).src = link
        }
        else if (target === '_self') {
            location.href = link
        }
        else {
            location.href = link
        }
    }
</script>