---
import '../styles/components/header.scss'

var { logo } = Astro.props

---
<header id="header">
    <a class="logo" href="/" style={`background-image: url('${logo}');`}></a>
    <nav class="nav">
        <button onclick="goToUrl(this)" url="/">Home</button>
        <button onclick="goToUrl(this)" url="/about">About</button>
        <button onclick="goToUrl(this)" url="/contact">Contact</button>
        <button onclick="goToUrl(this)" url="/portfolio">Portfolio</button>
        <button onclick="goToUrl(this)" url="/projects">Projects</button>
        <button onclick="goToUrl(this)" url="https://blog.adarshkumar.dev" target="_blank">Blog</button>
        <!-- <button onclick="goToUrl(this)" url="/sites">Sites</button> -->
        <button onclick="goToUrl(this)" url="/videos">Videos</button>
        <!-- <button onclick="goToUrl(this)" url="/music">Music</button> -->
    </nav>
</header>
<script is:inline>
    function goToUrl(btn, target) {
        var link = btn
        if (!!target === false) target = '_self'
        if (typeof link !== 'string') {
            link = btn.getAttribute('url')
            target = btn.getAttribute('target')
            if (!!target === false) {
                if (link.includes('://')) target = '_blank'
            }
        }
        if (!!link === false) link = '/'
        if (target === '_blank') {
            window.open(link)
        }
        else if (target === '_parent') {
            parent.location.href = link
        }
        else if (target === '_top') {
            top.location.href = link
        }
        else if (target.startsWith('_') === false) {
            document.getElementById(target).src = link
        }
        else if (target === '_self') {
            location.href = link
        }
        else {
            location.href = link
        }
    }
</script>