---
import '../styles/components/header.scss'

import Nav from '../components/nav.astro'
import ThemeSwitcher from '../components/themeSwitcher.astro'

var { siteDomain, navItems, logo } = Astro.props

var navItems = [
    { name: 'Home' }, 
    { name: 'About' }, 
    { name: 'Contact' }, 
    { name: 'Portfolio' }, 
    // { name: 'Projects' }, 
    { name: 'Blog' }, 
    { name: 'Videos' }, 
]

---
<header id="header" class="header">
    <a class="logo" href="/" style={`background-image: url('${logo}');`}></a>
    <Nav siteDomain={siteDomain} items={navItems} varient="header" />
    <ThemeSwitcher defaultTheme="system"/>
</header>
<script>
    var hideHeader = (new URLSearchParams(location.search)).get('hideHeader') === 'true' ? true : false
    if (hideHeader) document.querySelector('.header').style.display = 'none'
</script>