---
import '../styles/components/header.scss'
---
<header id="header">
    <a class="logo-link" href="/">
        <img class="logo" src="/Logo.png">
    </a>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/projects">Projects</a>
        <a href="https://Blog.RockGamerAK.com" target="_blank">Blog</a>
        <a href="/sites">Sites</a>
        <a href="/videos">Videos</a>
    </nav>
</header>