---
import '../styles/components/hero.scss'
---
<section class="hero">
    <h1>Adarsh Kumar</h1>
    <h2>Web Developer, Coder, Photographer, Musician</h2>
    <h3>Many Other Things!</h3>
</section>