---
import '../styles/components/nav.scss'

import Script from '../utils/script.astro'

var { items, direction, varient } = Astro.props
if (!!varient === false) varient = 'header'

items.forEach(function(item, i) {
})

var buttonsStr = ''

---
<nav class="nav" data-direction={direction} data-varient={varient}>
    {
        items.map((item, i) => {
            var name = item.name
            var url = item.url
            
            var target = item.target
            if (!!target === false) {
                target = '_self'
            }

            if (!!url) {
                if (url.includes('://')) {
                    var domain = url.split('://')[1]
                    if (domain.includes('/')) domain = domain.split('/')[0]
                    if (domain !== Astro.site) {
                        target = '_black'
                    }
                }
            }
            else if (!!url === false) {
                url = '/'

                if (name !== 'Home') {
                    url += name.toLowerCase()
                }
            }

            item.url = url
            item.target = target

            return <a href={item.url} class="nav-btn" target={item.target || '_self'}>{item.name}</a>
        })
    }
</nav>
<script>
    var largestWidth = 0
    document.querySelectorAll('.nav-btn').forEach(function(b, i) {
        if (b.clientWidth > largestWidth) largestWidth = b.clientWidth
    })
    document.querySelector('.nav-btn').parentNode.style.setProperty('--min-width', `${largestWidth/16}rem`)
</script>