---
import '../styles/components/nav.scss'

import ThemeSwitcher from '../components/themeSwitcher.astro'

var { siteDomain, navItens, direction, varient } = Astro.props
if (!!varient === false) varient = 'header'

navItems.forEach(function(item, i) {
    var name = item.name
    var url = item.url
    
    var target = item.target
    if (!!target === false) {
        target = '_self'
    }

    if (!!url) {
        if (url.includes('://')) {
            var domain = url.split('://')[1]
            if (domain.includes('/')) domain = domain.split('/')[0]
            if (domain !== siteDomain) {
                target = '_black'
            }
        }
    }
    else if (!!url === false) {
        url = '/'

        if (name !== 'Home') {
            url += name.toLowerCase()
        }
    }

    item.url = url
})

---
<nav class="nav" data-direction={direction} data-varient={varient}>
    {
        navItems.map(item => {
            <button url={item.url} class="nav-btn" onclick="goToUrl(this)">{item.name}</button>
        })
    }
</nav>