---
import '../styles/components/sidebar.scss'

var channels: { id: string, layout?: string, count?: string }[] = [
    {
        id: 'UCzhr23vdbi63nZGYqBM7Ofw', 
    },
    {
        id: 'UCb35v6VAVFI8Q0aIpwPoW1g', 
    },
    {
        id: 'UCLK0Lj3V864AbKfutfyztYA', 
    },
    {
        id: 'UCHUWd3IuPu3P21XkDW8vSuQ', 
    },
    {
        id: 'UC8cV2cdrp1ccBWzoi1R-UwQ', 
    },
]

const cids = channels.map(c => c.id)
    
import { getChannelsInfo } from './getChannelsInfo'

var channelsInfo = getChannelsInfo(cids)

import Nav from './nav.astro'

var navItems = [
    // { name: 'Home' }, 
    { name: 'About' }, 
    // { name: 'Contact' }, 
    { name: 'Portfolio' }, 
    // { name: 'Projects' }, 
    { name: 'Blog' }, 
    // { name: 'Videos' }, 
]

var props = [
    {
        name: 'id', 
        default: '', 
    }, 
    {
        name: 'layout', 
        default: 'full', 
    }, 
    {
        name: 'count', 
        default: 'default', 
    }, 
]

---
<aside class="main-sidebar">
    <section class="channel-stats">
        {
            channels.map(c => {
                props.forEach(p => {
                    if (!!c[p.name as keyof typeof c] === false) c[p.name as keyof typeof c] = p.default
                })

                return (
                    <div class="channel-container">
                        <div class="g-ytsubscribe" data-channelid={c.id} data-layout={c.layout || ''} data-count={c.count || ''}></div>
                    </div>
                )
            })
        }
    </section>
    <div class="divider h no-margin"></div>
    <Nav items={navItems} direction="column" varient="sidebar" />
    <div class="divider h no-margin"></div>
</aside>
<script src="https://apis.google.com/js/platform.js"></script>