---
import '../styles/components/sidebar.scss'

import Nav from './nav.astro'
---
<aside class="main-sidebar">
    <section class="channel-stats"></section>
    <div class="divider h no-margin"></div>
    <Nav direction="column" varient="sidebar" />
</aside>
<script src="https://apis.google.com/js/platform.js"></script>
<script src="/channels.js" is:inline></script>