---
import '../styles/components/sidebar.scss'

import Nav from './nav.astro'

import Script from '../utils/script.astro'

var navItems = [
    // { name: 'Home' }, 
    { name: 'About' }, 
    // { name: 'Contact' }, 
    { name: 'Portfolio' }, 
    { name: 'Projects' }, 
    { name: 'Blog', url: 'https://blog.adarshrkumar.dev' }, 
    // { name: 'Videos' }, 
]

---
<aside class="main-sidebar">
    <section class="channel-stats"></section>
    <div class="divider h no-margin"></div>
    <Nav items={navItems} direction="column" varient="sidebar" />
</aside>
<script src="https://apis.google.com/js/platform.js"></script>
<Script name="channels" />
<Script name="sidebar" />