---
import '../styles/components/grid.scss'
import '../styles/components/liteGrid.scss'

var { id, classItems, mode } = Astro.props

---
<section id={id || ''} class={`grid ${mode === 'lite' ? ' lite' : ''}${classItems}`}>
    <slot />
</section>