---
import '../styles/grid.scss'

import Script from '../utils/script.astro'

var { classItems } = Astro.props

classItems += ' grid'
if (classItems.startsWith(' ')) classItems = classItemse.slice(1)

---
<section class={classItems}>
    {classItems}
    <!-- <slot /> -->
</section>