---
import '../styles/grid.scss'

import Layout from '../layouts/Layout.astro'
---
<section class="site-grid">
    <slot />
    <script is:inline>
        document.querySelectorAll('.site-grid .grid .item .image-link').forEach(function(a, i) {
            a.style.backgroundImage = `url('https://image.thum.io/get/maxAge/12/width/${a.clientWidth*2}/${a.href}')`
        })
    </script>
</section>