---
import '../styles/grid.scss'

import Layout from '../layouts/Layout.astro'

import Script from '../utils/script.astro'
---
<section class="site-grid">
    <slot />
    <Script name="grid" />
</section>