---
import '../styles/components/grid.scss'
import Script from '../utils/script.astro'

var { id, classItems, mode } = Astro.props

switch (mode) {
    case 'lite': 
        import '../styles/components/liteGrid.scss'
        break
}

---
<section id={id || ''} class={`grid ${classItems}`}>
    <slot />
</section>