---
import '../styles/components/themeSwitcher.scss'

var { defaultTheme } = Astro.props

---
<div class="theme-switcher"></div>
<script is:inline>
    var themeAttribute = 'data-theme'
    var themes = [
        'system', 
        'light', 
        'dark'
    ]
    var themesLength = themes.length
    var themeSwitcher =  document.querySelector('.theme-switcher')
    themeSwitcher.addEventListener('click', function(e) {
        var currentTheme = e.target.getAttribute(themeAttribute)
        var newIndex = themes.indexOf(currentTheme) + 1

        changeTheme(currentTheme)
    })
    changeTheme(0)

    function changeTheme(newIndex, e) {
        if (newIndex > themesLength-1) newIndex = 0

        var newTheme = themes[newIndex]
        document.documentElement.setAttribute(themeAttribute, newTheme)
    }
</script>